<<<<<<< HEAD
{{!-- <nav class="menu">
    <LinkTo @route="index" class="menu-index">
        <h1>SuperRentals</h1>
    </LinkTo>
    <div class="links">
        <LinkTo @route="about" class="menu-about">
        About
        </LinkTo>
        <Linkto @route="contact" class="menu-contact">
        Contact
        </Linkto>
    </div>
</nav> --}}

<nav class="menu">
    <LinkTo @route="index" class="menu-index">
        <h1>SuperRentals</h1>
    </LinkTo>
    <div class="links">
        <LinkTo @route="about" class="menu-about">
        About
        </LinkTo>
        <LinkTo @route="contact" class="menu-contact">
        Contact
        </LinkTo>
    </div>
</nav>

=======
<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>SuperRentals</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="about" class="menu-about">
      About
    </LinkTo>
    <LinkTo @route="contact" class="menu-contact">
      Contact
    </LinkTo>
  </div>
</nav>
>>>>>>> 7854422dc332f3fdae42b685f0424edc30c2a051
